.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 54px 0 54px;
  height: 84px;
  background: #FFFFFF;
  box-shadow: 0px 8px 14px rgba(16, 20, 45, 0.05), 0px 3.87387px 9.86002px rgba(16, 20, 45, 0.08);
  z-index: 1;
  position: relative;

  .locale-changer {
    margin-right: 10px;
    margin-top: 3px;
  }

  .back-content {
    display: flex;
      justify-content: space-between;
      align-items: center;
      background: #FFFFFF;
      outline: none;
      border: 0;
      cursor: pointer;

      img {
        max-width: 24px;
      }

      span {
        font-weight: 700;
          font-size: 18px;
          line-height: 28px;
          color: #319CF3;
          margin-left: 8px;
      }
  }

  .logo {
    img {
        max-width: 193px;
      }
  }

    .partner-logo {
      max-height: 84px;
      width: auto;
      min-height: 50px;
      min-width: 100px;

      img {
        display: block;
        width: 120px;
        max-width: 250px;
      }
    }
}