// Brand colors
$b-orange-light: #FFDCBC;
$b-deep-orange: #AF3F08;
$b-orange: #FF681D;
$b-yellow: #FFE03D;
$b-yellow-deep: #E4B12E;
$b-wheat: #FDF8E2;
$b-wheat-deep: #F9EFC3;

// UI
$ui-red: #F55151;
$ui-red-deep: #9C3E3E;
$ui-blue: #42BBF8;
$ui-blue-deep: #1F82B3;
$ui-light-green: #BBEAB8;
$ui-green: #73BE6F;
$ui-green-deep: #00805F;
$ui-new-good: #6FBEBC;

// Shades of gray
$gray-90: #161616;
$gray-75: #404040;
$gray-55: #737171;
$gray-30: #B2B2B2;
$gray-10: #E6E6E6;
$gray-03: #F7F7F7;
$white: #FFFFFF;
$white-bg: #F3F4FB;